<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>

*{
    margin: 0%;
    box-sizing: border-box;
    padding: auto;

}

body{
    background-color: rgb(3, 25, 31);
}

header{
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}
    .searchbar{
        display: flex;
        border: 0.5;
        align-items: center;
    }
    .search{
        padding: 5px;
        outline: none;
        font-family: Montserrat;
        font-weight: 400;
        width: 16rem;
        align-items: center;
        border: 1px solid #71adad;
        border-right: none;
        border-radius: 8px 0 0 8px;
        background-color: #000000;
        color: antiquewhite;
    }
    .btn{
        border: none;
        padding: 3.8px;
        width: 4rem;
        border-radius: 3rem;
        background-color: #1b0f0f;
        cursor: pointer;
    }

main{
    width: 95%;
    margin: 30 auto 0 auto;
}
    .contFiltros{
        display: flex;
        gap: 20px;
    }
    .btnFiltros{
        padding: 7px;
        border-radius: 3rem;
        border: 1.5px solid #71adad;
        background-color: #201212;
        color: antiquewhite;
        font-family: poppins;
        cursor: pointer;
    }
    .active{
         background-color: white;
         color: #1b0f0f;
    }


.contVideos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .contVideos {
        width: 300px;
        font-family: 'Franklin Gothic Medium';
        font-weight: 700;
        color: #fff;
        margin-top: 40px;
        cursor: pointer;
    }
        .imgPortada{
            width: 300px;
            height: 170px;
        }
        .textMinutos{
            position: relative;
            background-color: #181818;
            font-size: 14px;
            padding: 2px 5px;
            left: 280px;
            bottom: 57vh;
            font-family: 'poppins';
            font-weight: 400;
        }
        .contInfo{
            display: flex;
            align-items: flex-start;
            gap: 7px;
        }
            .avatar{
                width: 40px;
            }
            .contDescription{
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
                .titleVideo{
                    font-size: 16px;
                    word-wrap: break-word;
                }
                .tittleAutor, .views {
                    color: #A3A3A3;
                    font-weight: 400;
                    word-wrap: break-word;
                }

